<div class="container" style="padding: 10px">
  <div class="row">
    <div class="col-xs-12">
      <button type="button" class="btn btn-primary" (click)="onToggle()">Details</button>
      <p *ngIf="secretPassword">Secret Password = tuna</p>
      <div *ngFor="let logItem of log; let i = index"
        [ngStyle]="{backgroundColor: i >= 4 ? 'blue': 'transparent'}"
        [ngClass]="{'white-text': i>= 4}">
        {{logItem}}
      </div>
    </div>
  </div>
</div>